@charset "UTF-8";

nav {
    opacity: 0.8;
}

#navContent ul li {
    margin-right: 50px;
}

nav a:hover{
    color : black !important;
    text-decoration: none;
}

.active {
    color : black !important;
}

.navbar-toggler{
    background-color: white;
}

.login {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
